*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: roboto, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

header {
  background: #b50014;
  color: white;
}
header .header__main {
  height: 93px;
  padding-inline: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__main .header__logo {
  width: 150px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #b50014;
  padding: 10px;
  position: absolute;
  z-index: 10;
  top: 0;
}
header .header__main .header__nav {
  padding-left: 200px;
  width: 100%;
}
header .header__main .header__nav div {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
header .header__main .header__nav div a {
  color: white;
  font-size: 16px;
}
header .header__pdf {
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
header .header__radno-vreme {
  background: #252525;
  height: 30px;
  padding-inline: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header p {
  font-size: 14px;
}

.mesar {
  color: white;
  position: relative;
}
.mesar img {
  width: 100vw;
}
.mesar .preko {
  background: rgba(0, 0, 0, 0.3);
  width: 600px;
  position: absolute;
  top: calc(50% - 175px);
  height: 350px;
}
.mesar .preko .teskt {
  margin-left: 40%;
  width: 50%;
  height: 350px;
  display: grid;
  place-content: center;
  text-align: center;
}
.mesar .preko .teskt h1 {
  font-size: 38px;
}
.mesar .preko .teskt p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.dry-aged {
  width: 100%;
  padding-inline: 20%;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: black;
  color: white;
}
.dry-aged .levi {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid green;
}
.dry-aged .levi p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.dry-aged .levi h2 {
  font-size: 32px;
}
.dry-aged .levi h3 {
  font-size: 22px;
  margin-top: 5px;
}
.dry-aged .desno {
  border: 1px solid red;
  flex: 1;
  flex-shrink: 0;
}
.dry-aged .desno .gornji {
  width: 100%;
  background: green;
}
.dry-aged .desno .donji {
  border: 1px solid yellow;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.dry-aged .desno .donji img {
  width: 30%;
}

.dugme-primary {
  background: #a62120;
  border-radius: 30px;
  width: 174px;
  height: 50px;
  border: 1px solid white;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.druga {
  background: #a62120;
  display: flex;
  padding-left: 20%;
  color: white;
}
.druga .info {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.druga .info h2 {
  width: 60%;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}
.druga .info li {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.druga .info button {
  width: 174px;
  height: 47px;
  background-color: white;
  color: black;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
.druga .slika {
  width: 50vw;
  border: 2px solid green;
  margin-left: auto;
}

.section3 {
  padding-top: 6rem;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.section3 p {
  width: 40%;
  text-align: center;
}

.logo-divider {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */