*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: roboto, sans-serif;
}

.light-mode {
  background: white;
  color: black;
}

body {
  background: #000;
  color: white;
}

.swiper {
  width: 600px;
  height: 300px;
}

.overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 500px;
  height: 500px;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.popup {
  outline: 2px solid white;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  cursor: pointer;
}
.close-button:hover {
  color: #f56f6f;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 16px;
}

a {
  color: white;
  text-decoration: none;
}

.btn-primary {
  background: #b50014;
  color: white;
  border-radius: 30px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  padding: 1rem 2rem;
}
.btn-primary:hover {
  background: #701717;
}

.mobile-menu-animation {
  transform: scaleX(1) !important;
}

header {
  background: #b50014;
  color: white;
}
header .header__main {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__main .header__logo {
  cursor: pointer;
  width: 93px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #b50014;
  padding: 10px;
  position: absolute;
  z-index: 10;
  top: 0;
}
@media only screen and (min-width: 768px) {
  header .header__main .header__logo {
    margin-left: 1.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  header .header__main .header__logo {
    width: 145px !important;
    margin-left: 6rem;
  }
}
@media only screen and (min-width: 1440px) {
  header .header__main .header__logo {
    width: 145px !important;
    margin-left: 12rem;
  }
}
header .header__nav {
  width: 100%;
}
header .header__nav div {
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}
header .header__nav div a {
  color: white;
  font-size: 16px;
}
header .header__nav .header__nav-xl {
  display: none;
}
@media only screen and (min-width: 1440px) {
  header .header__nav .header__nav-xl {
    display: flex !important;
    gap: 1rem !important;
  }
}
header .header__nav .header__nav-md {
  display: none;
}
header .header__nav .header__nav-md .dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
header .header__nav .header__nav-md .dropdown .dropdown-content {
  border-radius: 10px;
  display: none;
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .header__nav .header__nav-md .dropdown .dropdown-content :first-child {
  border-radius: 10px 10px 0 0;
}
header .header__nav .header__nav-md .dropdown .dropdown-content :last-child {
  border-radius: 0 0 10px 10px;
}
header .header__nav .header__nav-md .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header .header__nav .header__nav-md .dropdown .dropdown-content a:hover {
  background-color: #f56f6f;
}
header .header__nav .header__nav-md .dropdown:hover .dropdown-content {
  display: block;
}
@media only screen and (min-width: 768px) {
  header .header__nav .header__nav-md {
    display: flex !important;
  }
}
@media only screen and (min-width: 1440px) {
  header .header__nav .header__nav-md {
    display: none !important;
  }
}
header .header__nav-sm {
  min-width: 2.5rem;
  max-width: 2rem;
  margin-inline: 1.5rem;
  z-index: 1000;
  cursor: pointer;
}
header .header__nav-sm svg {
  width: 100%;
}
header .header__nav-sm svg path {
  fill: white;
}
header .header__nav-sm .hamburger {
  padding: 0rem 0.3rem;
}
header .header__nav-sm .mobile-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  transform-origin: 0%;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  z-index: 10;
  width: 100%;
  background: #000;
  height: 100vh;
}
header .header__nav-sm .mobile-menu .close-btn {
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}
header .header__nav-sm .mobile-menu .close-btn:hover {
  background: rgba(73, 55, 55, 0.5058823529);
}
header .header__nav-sm .mobile-menu a {
  border-bottom: 2px solid rgb(199, 199, 199);
  text-transform: uppercase;
  padding: 1rem;
  width: 100%;
}
header .header__nav-sm .mobile-menu :last-child {
  border-bottom: none;
}
header .header__nav-sm .mobile-menu a:hover {
  background-color: gray;
}
@media only screen and (min-width: 768px) {
  header .header__nav-sm {
    display: none;
  }
}
header .header__pdf {
  margin-left: 1.5rem;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
@media screen and (min-width: 400px) {
  header .header__pdf {
    display: flex;
  }
}
@media only screen and (min-width: 768px) {
  header .header__pdf {
    margin-right: 1.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  header .header__pdf {
    margin-right: 6rem;
  }
}
@media only screen and (min-width: 1440px) {
  header .header__pdf {
    margin-right: 12rem;
  }
}
header .header__opentime {
  background: #252525;
  height: auto;
  padding: 0.5rem 1rem;
  text-align: left;
  display: none;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
}
header .header__opentime div {
  display: grid;
  place-content: center;
  margin-right: 0.25rem;
  margin-bottom: 0.2rem;
}
@media only screen and (min-width: 768px) {
  header .header__opentime {
    display: flex;
  }
}
@media only screen and (min-width: 1024px) {
  header .header__opentime {
    padding-right: 6rem !important;
  }
}
@media only screen and (min-width: 1440px) {
  header .header__opentime {
    padding-right: 12rem !important;
  }
}
header .header__christmastime {
  background: #252525;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0.4rem 1rem;
}
header .header__christmastime p {
  font-size: 10px;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  header .header__christmastime {
    display: none;
  }
}

.landing {
  position: relative;
}
.landing .landing__image {
  background-image: url(/assets/mesar-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 768px) {
  .landing .landing__image {
    height: 600px;
  }
}
.landing .landing__image img {
  display: none;
}
@media only screen and (min-width: 768px) {
  .landing .landing__image {
    background-image: none;
  }
  .landing .landing__image img {
    display: inline-block;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.landing .landing__content {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.landing .landing__content h1 {
  margin-bottom: 1.5rem;
}
.landing .landing__content .landing__content-text {
  margin-top: 1rem;
  margin-inline: auto;
  text-align: center;
  width: 80%;
}
.landing .landing__content .landing__content-text p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
@media only screen and (min-width: 1024px) {
  .landing .landing__content {
    background: rgba(0, 0, 0, 0.3);
    width: 35% !important;
    padding: 0.5rem;
    position: absolute;
    top: 32%;
    height: 45%;
  }
  .landing .landing__content h1,
  .landing .landing__content p {
    width: 80%;
    text-align: start;
    margin-left: auto;
    color: white;
  }
  .landing .landing__content h1 {
    font-size: 22px !important;
  }
  .landing .landing__content p {
    font-size: 14px !important;
  }
}
@media only screen and (min-width: 1440px) {
  .landing .landing__content h1,
  .landing .landing__content p {
    width: 60%;
  }
  .landing .landing__content h1 {
    font-size: 38px !important;
  }
}

.section__dry-aged {
  width: 100%;
  padding-inline: 5%;
  display: flex;
  flex-direction: column-reverse;
  gap: 1.5rem;
  padding-bottom: 6rem;
  padding-top: 1rem;
}
@media only screen and (min-width: 768px) {
  .section__dry-aged {
    padding-inline: 10%;
  }
}
@media only screen and (min-width: 1024px) {
  .section__dry-aged {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1440px) {
  .section__dry-aged {
    padding-inline: 20%;
  }
}
.section__dry-aged .section__dry-aged-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
}
.section__dry-aged .section__dry-aged-left p {
  font-weight: 300;
  line-height: 24px;
}
.section__dry-aged .section__dry-aged-left h3 {
  font-size: 22px;
  margin-top: 5px;
}
@media only screen and (min-width: 1024px) {
  .section__dry-aged .section__dry-aged-left {
    text-align: start;
    align-items: start;
  }
}
.section__dry-aged .section__dry-aged-left .buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.section__dry-aged .section__dry-aged-left .buttons button {
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .section__dry-aged .section__dry-aged-left .buttons {
    display: block;
  }
  .section__dry-aged .section__dry-aged-left .buttons button {
    width: unset;
    margin-right: 1.5rem;
  }
}
.section__dry-aged .section__dry-aged-right {
  flex: 1;
  flex-shrink: 0;
}
.section__dry-aged .section__dry-aged-right .gore {
  width: 100%;
  margin-bottom: 1rem;
}
.section__dry-aged .section__dry-aged-right .dole {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
}
.section__dry-aged .section__dry-aged-right .dole img {
  width: 30%;
}

.section__kurs {
  background: #b50014;
  color: white;
}
@media screen and (min-width: 1120px) {
  .section__kurs {
    display: flex;
  }
}
.section__kurs .section__kurs-info {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.5rem;
  padding: 3rem 0;
}
@media screen and (min-width: 1120px) {
  .section__kurs .section__kurs-info {
    text-align: left;
    align-items: start;
    padding-left: 10%;
  }
}
@media only screen and (min-width: 1440px) {
  .section__kurs .section__kurs-info {
    padding-left: 20%;
  }
}
.section__kurs .section__kurs-info h2 {
  width: 60%;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
}
.section__kurs .section__kurs-info li {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.section__kurs .section__kurs-info button {
  background: white;
  cursor: pointer;
  color: black;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  padding: 1rem 2rem;
  max-width: 50%;
}
.section__kurs .section__kurs-info button:hover {
  background: #c6c6c6;
}
.section__kurs .section__kurs-image {
  width: 100%;
}
.section__kurs .section__kurs-image img {
  width: 100%;
  margin-bottom: -4px;
}
@media screen and (min-width: 1120px) {
  .section__kurs .section__kurs-image {
    width: 50vw;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: auto;
  }
}

.section__centered {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}
.section__centered h3 {
  width: 80%;
}
.section__centered p {
  width: 80%;
  font-size: 18px;
  text-align: center;
  font-weight: 300;
}
@media only screen and (min-width: 1440px) {
  .section__centered p {
    width: 60%;
  }
}

.logo-divider {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}
.logo-divider img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section__menu {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  padding-inline: 5%;
  gap: 1.5rem;
  padding-bottom: 6rem;
}
@media only screen and (min-width: 768px) {
  .section__menu {
    display: flex;
    justify-content: center;
    padding-inline: 10%;
  }
}
.section__menu div {
  position: relative;
}
.section__menu div p {
  color: white;
  position: absolute;
  background: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.section__spices {
  background: #a62120;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
@media screen and (min-width: 1120px) {
  .section__spices {
    flex-direction: row;
  }
}
.section__spices .section__spices-info {
  width: 100%;
  padding-inline: 10%;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 1120px) {
  .section__spices .section__spices-info {
    width: 45%;
    margin-left: auto;
    padding: 0 !important;
    padding-right: 10% !important;
    text-align: start;
  }
}
.section__spices .section__spices-info h2 {
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  margin-bottom: 2rem;
}
.section__spices .section__spices-info h3 {
  margin-bottom: 2rem;
}
.section__spices .section__spices-info p {
  font-weight: 300;
  margin-bottom: 2rem;
}
.section__spices .section__spices-image {
  width: 100%;
}
.section__spices .section__spices-image img {
  width: 100%;
}
@media screen and (min-width: 1120px) {
  .section__spices .section__spices-image {
    width: 50vw;
  }
}

.section__cta {
  position: relative;
  width: 100%;
  height: 30vh;
}
.section__cta img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section__cta .filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}
.section__cta .filter .section__cta-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.section__cta .filter .section__cta-info h2 {
  color: white;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}
.section__cta .filter .section__cta-info button {
  background: white;
  cursor: pointer;
  color: black;
  padding: 1rem 2rem;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
.section__cta .filter .section__cta-info button:hover {
  background: #c6c6c6;
}

.section__partner {
  width: 100%;
  padding-inline: 20%;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .section__partner {
    padding-inline: 10%;
  }
}
@media only screen and (min-width: 1024px) {
  .section__partner {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1440px) {
  .section__partner {
    padding-inline: 20%;
  }
}
.section__partner .section__partner-image {
  width: 100%;
}
.section__partner .section__partner-image img {
  max-width: 18rem;
}
.section__partner .section__partner-info {
  width: 100%;
}
.section__partner .section__partner-info h2 {
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  margin-bottom: 3rem;
}
@media only screen and (min-width: 1024px) {
  .section__partner .section__partner-info {
    text-align: left;
  }
}

.section__awards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding-inline: 5%;
}
@media only screen and (min-width: 768px) {
  .section__awards {
    padding-inline: 10%;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1440px) {
  .section__awards {
    padding-inline: 20%;
  }
}
.section__awards h2 {
  margin-top: -60px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 30px;
}
.section__awards .section__awards-awards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media only screen and (min-width: 768px) {
  .section__awards .section__awards-awards {
    display: flex;
  }
}
.section__awards .section__awards-awards div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.section__awards .section__awards-awards div p {
  color: rgba(255, 255, 255, 0.5);
  width: 80%;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.section__swiper {
  width: 100%;
  padding-bottom: 2rem;
}
.section__swiper .slider-button {
  margin-top: 2rem;
  width: 100%;
  display: grid;
  place-content: center;
}
.section__swiper .swiper {
  height: auto;
  width: 100%;
  position: relative;
}
.section__swiper .swiper .znak {
  position: absolute;
  z-index: 1000;
  bottom: 5%;
  right: 45%;
}
.section__swiper .swiper .swiper-button-prev,
.section__swiper .swiper .swiper-button-next {
  margin-top: 14rem;
  width: 70%;
  color: rgb(171, 171, 171);
}
.section__swiper .swiper .swiper-button-prev img,
.section__swiper .swiper .swiper-button-next img {
  background: red;
}
@media only screen and (min-width: 768px) {
  .section__swiper .swiper .swiper-button-prev,
  .section__swiper .swiper .swiper-button-next {
    margin-top: 0 !important;
    width: 60%;
  }
}
.section__swiper .swiper .swiper-slide {
  width: 500px;
}
.section__swiper .swiper .swiper-slide .slide {
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 80%;
  background-color: #2a2a2a;
  margin-inline: auto;
  height: 80%;
  margin-bottom: 2rem;
}
.section__swiper .swiper .swiper-slide .slide p,
.section__swiper .swiper .swiper-slide .slide h4 {
  color: rgba(210, 210, 210, 0.705);
}
.section__swiper .swiper h4,
.section__swiper .swiper p {
  text-align: center;
}
.section__swiper .swiper p {
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  margin-bottom: 2rem;
}
.section__swiper .swiper h2 {
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  margin-bottom: 2rem;
  text-align: center;
}

footer {
  background: #a62120;
  padding-top: 1rem;
  width: 100%;
  color: white;
}
footer .footer__main {
  width: 100%;
  padding-inline: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  footer .footer__main {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}
@media only screen and (min-width: 1024px) {
  footer .footer__main {
    padding-inline: 10%;
  }
}
@media only screen and (min-width: 1440px) {
  footer .footer__main {
    padding-inline: 20%;
  }
}
footer .footer__main div {
  width: 100%;
}
footer .footer__main .footer__main-info {
  display: flex;
  align-items: center;
}
footer .footer__main .footer__main-info .lokacija {
  display: none;
}
@media only screen and (min-width: 1024px) {
  footer .footer__main .footer__main-info .lokacija {
    display: block;
  }
}
footer .footer__main .footer__main-info div {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer__main .footer__main-info div p {
  margin-bottom: 9px;
}
footer .footer__main .footer__main-info div :last-child {
  margin-bottom: 0;
}
footer .footer__main .footer__main-logo {
  display: grid;
  place-content: center;
}
footer .footer__main .footer__main-socials {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
footer .footer__main-copyright {
  width: 100%;
  background: #66000b;
  padding-inline: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
  color: #e9caca;
  font-size: 12px;
  text-align: center;
  font-size: 12px;
}
@media only screen and (min-width: 1024px) {
  footer .footer__main-copyright {
    padding-inline: 10%;
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1440px) {
  footer .footer__main-copyright {
    padding-inline: 20%;
  }
}
footer .footer__main-copyright p {
  opacity: 50%;
  color: white;
}/*# sourceMappingURL=style2.css.map */