*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: roboto, sans-serif;
}

.light-mode {
  background: white;
  color: black;
}

body {
  background: #000;
  color: white;
}

.swiper {
  width: 600px;
  height: 300px;
}

/**
1330px

*/
img {
  max-width: 100%;
  margin-bottom: -4px;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.mobile-menu-animation {
  transform: scaleX(1) !important;
}

p {
  font-size: 14px;
}

a {
  color: white;
  text-decoration: none;
}

.btn-primary {
  background: #b50014;
  color: white;
  border-radius: 30px;
  border: 1px solid white;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  padding: 1rem 2rem;
  margin-right: 1rem;
}

header {
  background: #b50014;
  color: white;
}
header .header__main {
  height: 93px;
  padding-inline: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__main .header__logo {
  cursor: pointer;
  width: 150px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #b50014;
  padding: 10px;
  position: absolute;
  z-index: 10;
  top: 0;
}
header .header__nav {
  padding-left: 200px;
  width: 100%;
}
header .header__nav div {
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
header .header__nav div a {
  color: white;
  font-size: 16px;
}
header .header__nav .header__nav-xl {
  display: flex;
}
header .header__nav .header__nav-md {
  display: none;
}
header .header__nav .header__nav-md .dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
header .header__nav .header__nav-md .dropdown .dropdown-content {
  border-radius: 10px;
  display: none;
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .header__nav .header__nav-md .dropdown .dropdown-content :first-child {
  border-radius: 10px 10px 0 0;
}
header .header__nav .header__nav-md .dropdown .dropdown-content :last-child {
  border-radius: 0 0 10px 10px;
}
header .header__nav .header__nav-md .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header .header__nav .header__nav-md .dropdown .dropdown-content a:hover {
  background-color: #f56f6f;
}
header .header__nav .header__nav-md .dropdown:hover .dropdown-content {
  display: block;
}
header .header__nav-sm {
  padding: 0.5rem;
  cursor: pointer;
  display: none;
}
header .header__nav-sm .hamburger {
  padding: 0rem 0.3rem;
}
header .header__nav-sm .mobile-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  transform-origin: 0%;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  z-index: 10;
  width: 100%;
  background: #000;
  height: 100vh;
}
header .header__nav-sm .mobile-menu .close-btn {
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}
header .header__nav-sm .mobile-menu .close-btn:hover {
  background: rgba(73, 55, 55, 0.5058823529);
}
header .header__nav-sm .mobile-menu a {
  border-bottom: 2px solid rgb(199, 199, 199);
  text-transform: uppercase;
  padding: 1rem;
  width: 100%;
}
header .header__nav-sm .mobile-menu :last-child {
  border-bottom: none;
}
header .header__nav-sm .mobile-menu a:hover {
  background-color: gray;
}
header .header__pdf {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
header .header__opentime {
  background: #252525;
  height: 30px;
  padding-inline: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .header__opentime div {
  display: grid;
  place-content: center;
  margin-right: 0.25rem;
  margin-bottom: 0.2rem;
}

.landing {
  position: relative;
  color: white;
}
.landing img {
  width: 100%;
}
.landing .landing__content {
  background: rgba(0, 0, 0, 0.3);
  width: 35%;
  position: absolute;
  top: 25%;
  height: 50%;
}
.landing .landing__content .landing__content-text {
  margin-left: 40%;
  width: 50%;
  height: 100%;
  display: grid;
  place-content: center;
  text-align: center;
}
.landing .landing__content .landing__content-text p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.section__dry-aged {
  width: 100%;
  padding-inline: 20%;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.section__dry-aged .section__dry-aged-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.section__dry-aged .section__dry-aged-left p {
  font-weight: 300;
  line-height: 24px;
}
.section__dry-aged .section__dry-aged-left h3 {
  font-size: 22px;
  margin-top: 5px;
}
.section__dry-aged .section__dry-aged-right {
  flex: 1;
  flex-shrink: 0;
}
.section__dry-aged .section__dry-aged-right .gore {
  width: 100%;
  margin-bottom: 1rem;
}
.section__dry-aged .section__dry-aged-right .dole {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
}
.section__dry-aged .section__dry-aged-right .dole img {
  width: 30%;
}

.section__kurs {
  background: #b50014;
  display: flex;
  padding-left: 20%;
  color: white;
}
.section__kurs .section__kurs-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  margin-right: auto;
}
.section__kurs .section__kurs-info h2 {
  width: 60%;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}
.section__kurs .section__kurs-info li {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.section__kurs .section__kurs-info button {
  background: white;
  color: black;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  padding: 1rem 2rem;
  max-width: 50%;
}
.section__kurs .section__kurs-image {
  width: 50vw;
  margin-left: auto;
}

.section__centered {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.section__centered p {
  width: 40%;
  font-size: 18px;
  text-align: center;
  color: white;
  font-weight: 800;
}

.logo-divider {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-divider img {
  width: 100%;
}

.section__menu {
  width: 100%;
  display: flex;
  padding-inline: 20%;
  gap: 3rem;
  padding-bottom: 6rem;
}
.section__menu div {
  position: relative;
}
.section__menu div p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 1rem;
  text-align: center;
  opacity: 0.8;
  letter-spacing: 5px;
}

.section__spices {
  background: #a62120;
  display: flex;
  align-items: center;
  padding-right: 20%;
  color: white;
}
.section__spices .section__spices-info {
  width: 30%;
}
.section__spices .section__spices-info h2 {
  width: 60%;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}
.section__spices .section__spices-info h3 {
  margin-top: 10px;
}
.section__spices .section__spices-info p {
  margin-top: 30px;
}
.section__spices .section__spices-image {
  width: 50vw;
  margin-right: auto;
}

.section__cta {
  position: relative;
  width: 100%;
}
.section__cta img {
  width: 100%;
}
.section__cta .filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.section__cta .filter .section__cta-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.section__cta .filter .section__cta-info h2 {
  color: white;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}
.section__cta .filter .section__cta-info button {
  background: white;
  color: black;
  padding: 1rem 2rem;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

.section__partner {
  width: 100%;
  padding-inline: 20%;
  padding-top: 6rem;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .section__partner {
    background: green !important;
  }
}
.section__partner .section__partner-image {
  width: 100%;
}
.section__partner .section__partner-image svg {
  margin-left: 25%;
  width: 50%;
}
.section__partner .section__partner-image svg path {
  fill: white;
}
.section__partner .section__partner-info {
  padding-left: 5rem;
  width: 100%;
}
.section__partner .section__partner-info h2 {
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  width: 80%;
  margin-bottom: 3rem;
}

.section__awards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-inline: 20%;
}
.section__awards h2 {
  margin-top: -60px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 30px;
}
.section__awards .section__awards-awards {
  display: flex;
  gap: 2rem;
}
.section__awards .section__awards-awards div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.section__awards .section__awards-awards div p {
  color: rgba(255, 255, 255, 0.5);
  width: 80%;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.section__swiper {
  width: 100%;
  padding-bottom: 2rem;
}
.section__swiper .slider-button {
  margin-top: 2rem;
  width: 100%;
  display: grid;
  place-content: center;
}
.section__swiper .swiper {
  height: auto;
  width: 100%;
}
.section__swiper .swiper .swiper-slide {
  width: 500px;
}
.section__swiper .swiper .swiper-slide .slide {
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 50%;
  background-color: #2a2a2a;
  margin-inline: auto;
  height: 80%;
  margin-bottom: 2rem;
}
.section__swiper .swiper h2,
.section__swiper .swiper p {
  text-align: center;
}
.section__swiper .swiper p {
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.5);
}
.section__swiper .swiper h2 {
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  margin-bottom: 2rem;
}

footer {
  background: #a62120;
  padding-top: 1rem;
  width: 100%;
  color: white;
}
footer .footer__main {
  width: 100%;
  padding-inline: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}
footer .footer__main div {
  width: 100%;
}
footer .footer__main .footer__main-info {
  display: flex;
  align-items: center;
}
footer .footer__main .footer__main-info div {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer__main .footer__main-info div p {
  margin-bottom: 9px;
}
footer .footer__main .footer__main-info div :last-child {
  margin-bottom: 0;
}
footer .footer__main .footer__main-logo {
  display: grid;
  place-content: center;
}
footer .footer__main .footer__main-socials {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
footer .footer__main-copyright {
  width: 100%;
  background: #66000b;
  padding-inline: 20%;
  display: flex;
  justify-content: space-between;
  color: #e9caca;
  font-size: 12px;
}
footer .footer__main-copyright span {
  color: white;
}

@media screen and (max-width: 1330px) {
  .header__nav-xl {
    display: none !important;
  }
  .header__nav-md {
    display: flex !important;
  }
  h1 {
    font-size: 28px !important;
  }
  h2 {
    font-size: 24px !important;
  }
  p {
    font-size: 12px !important;
  }
  .landing__content-text {
    margin-left: 30% !important;
  }
  button {
    padding: 0.5rem 1rem !important;
    font-size: 14px !important;
  }
  .section__dry-aged,
  .section__menu,
  .section__partner,
  .section__awards,
  .footer__main {
    padding-inline: 10% !important;
  }
  .section__kurs {
    padding-left: 10% !important;
  }
  .section__spices {
    padding-right: 10% !important;
  }
  .lokacija {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .section__dry-aged,
  .section__menu,
  .section__partner,
  .section__awards,
  .footer__main,
  .footer__main-copyright {
    padding-inline: 5% !important;
  }
  .section__centered p {
    width: 60% !important;
  }
  .landing__content {
    position: relative !important;
    width: 100% !important;
    background: black !important;
    color: white !important;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .landing__content h1 {
    margin-bottom: 2rem;
  }
  .landing__content .landing__content-text {
    width: 80% !important;
    margin-inline: auto !important;
    padding-left: auto;
  }
  .landing__content .landing__content-text p {
    font-size: 18px !important;
  }
  .section__kurs {
    display: block;
    margin-left: auto !important;
    padding-left: 0 !important;
  }
  .section__kurs-image {
    width: 100% !important;
  }
  .section__kurs-image img {
    width: 100% !important;
  }
  .section__kurs-info {
    width: 100% !important;
    flex-direction: column;
    align-items: center !important;
    gap: 2rem;
    padding: 3rem 0;
  }
  .section__kurs-info h2 {
    width: 100% !important;
    text-align: center !important;
  }
  .section__spices {
    padding-right: 0 !important;
    display: block;
  }
  .section__spices-image {
    width: 100% !important;
  }
  .section__spices-image img {
    width: 100% !important;
  }
  .section__spices-info {
    padding: 3rem 0;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
  }
  .section__spices-info h2 {
    width: 100% !important;
    text-align: center !important;
  }
  .section__spices-info p {
    width: 70%;
  }
  .logo-divider {
    height: 30vh;
  }
  .logo-divider img {
    height: 100% !important;
    -o-object-fit: cover !important;
       object-fit: cover !important;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 38px !important;
  }
  h2 {
    font-size: 32px !important;
  }
  p {
    font-size: 16px !important;
  }
  .header__opentime {
    height: auto !important;
    padding: 2px !important;
  }
  .header__opentime div {
    display: none !important;
  }
  .header__opentime p {
    font-size: 12px !important;
    width: 60%;
    text-align: right;
  }
  .header__main {
    padding-inline: 2% !important;
    height: 60px !important;
  }
  .header__logo {
    width: 100px !important;
  }
  .header__nav-md {
    display: none !important;
  }
  .header__nav-sm {
    display: block !important;
    max-width: 50px;
    margin-left: 2rem;
    padding: 5px;
    z-index: 1000 !important;
  }
  .header__nav-sm svg {
    width: 100%;
  }
  .header__nav-sm svg path {
    fill: white;
  }
  .header__opentime {
    padding-inline: 2% !important;
  }
  .section__dry-aged {
    flex-direction: column-reverse;
  }
  .section__dry-aged .section__dry-aged-left {
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 100%;
  }
  .section__menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .section__cta {
    height: 30vh;
  }
  .section__cta img {
    height: 100%;
    -o-object-fit: cover !important;
       object-fit: cover !important;
  }
  .section__partner {
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }
  .section__partner .section__partner-info {
    padding-left: 0 !important;
    text-align: center;
  }
  .section__partner .section__partner-info h2 {
    width: 100%;
  }
  .section__awards {
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }
  .section__awards .section__awards-awards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .footer__main {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
  .footer__main .footer__main-logo {
    width: 80px;
  }
  .footer__main .footer__main-socials {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__main-copyright {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 1rem;
  }
}
.overlay {
  display: none;
  position: fixed;
  z-index: 30;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.popup {
  background-color: #fff;
  height: 100%;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  cursor: pointer;
}/*# sourceMappingURL=style2.css.map */