*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: roboto, sans-serif;
  color: white;
}

/**
1330px

*/
img {
  max-width: 100%;
  margin-bottom: -4px;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
}

.btn-primary {
  background: #b50014;
  border-radius: 30px;
  border: 1px solid white;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  padding: 1rem 2rem;
  margin-right: 1rem;
}

.hidden {
  display: none;
}

header {
  background: #b50014;
  color: white;
}
header .header__main {
  height: 93px;
  padding-inline: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__main .header__logo {
  width: 150px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #b50014;
  padding: 10px;
  position: absolute;
  z-index: 10;
  top: 0;
}
header .header__nav {
  padding-left: 200px;
  width: 100%;
}
header .header__nav div {
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
header .header__nav div a {
  color: white;
  font-size: 16px;
}
header .header__nav .header__nav-xl {
  display: flex;
}
header .header__nav .header__nav-md {
  display: none;
}
header .header__nav .header__nav-md .dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
header .header__nav .header__nav-md .dropdown .dropdown-content {
  border-radius: 10px;
  display: none;
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .header__nav .header__nav-md .dropdown .dropdown-content :first-child {
  border-radius: 10px 10px 0 0;
}
header .header__nav .header__nav-md .dropdown .dropdown-content :last-child {
  border-radius: 0 0 10px 10px;
}
header .header__nav .header__nav-md .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header .header__nav .header__nav-md .dropdown .dropdown-content a:hover {
  background-color: #f56f6f;
}
header .header__nav .header__nav-md .dropdown:hover .dropdown-content {
  display: block;
}
header .header__pdf {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
header .header__opentime {
  background: #252525;
  height: 30px;
  padding-inline: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .header__opentime div {
  display: grid;
  place-content: center;
  margin-right: 0.25rem;
  margin-bottom: 0.2rem;
}

.landing {
  color: white;
  position: relative;
}
.landing img {
  width: 100%;
}
.landing .landing__content {
  background: rgba(0, 0, 0, 0.3);
  width: 35%;
  position: absolute;
  top: 25%;
  height: 50%;
}
.landing .landing__content .landing__content-text {
  margin-left: 40%;
  width: 50%;
  height: 100%;
  display: grid;
  place-content: center;
  text-align: center;
}
.landing .landing__content .landing__content-text p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.section__dry-aged {
  width: 100%;
  padding-inline: 20%;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: black;
  color: white;
}
.section__dry-aged .section__dry-aged-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.section__dry-aged .section__dry-aged-left p {
  font-weight: 300;
  line-height: 24px;
}
.section__dry-aged .section__dry-aged-left h3 {
  font-size: 22px;
  margin-top: 5px;
}
.section__dry-aged .section__dry-aged-right {
  flex: 1;
  flex-shrink: 0;
}
.section__dry-aged .section__dry-aged-right .gore {
  width: 100%;
  margin-bottom: 1rem;
}
.section__dry-aged .section__dry-aged-right .dole {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
}
.section__dry-aged .section__dry-aged-right .dole img {
  width: 30%;
}

.section__kurs {
  background: #b50014;
  display: flex;
  padding-left: 20%;
  color: white;
}
.section__kurs .section__kurs-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.section__kurs .section__kurs-info h2 {
  width: 60%;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}
.section__kurs .section__kurs-info li {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.section__kurs .section__kurs-info button {
  background-color: white;
  color: black;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  padding: 1rem 2rem;
  max-width: 50%;
}
.section__kurs .section__kurs-image {
  width: 50vw;
  margin-left: auto;
}

.section__centered {
  padding-top: 6rem;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.section__centered p {
  width: 40%;
  text-align: center;
}

.logo-divider {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__menu {
  background: black;
  width: 100%;
  display: flex;
  padding-inline: 20%;
  gap: 3rem;
  padding-bottom: 6rem;
}
.section__menu div {
  position: relative;
}
.section__menu div p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: white;
  opacity: 0.8;
  letter-spacing: 5px;
}

.section__spices {
  background: #a62120;
  display: flex;
  align-items: center;
  padding-right: 20%;
  color: white;
}
.section__spices .section__spices-info {
  width: 30%;
}
.section__spices .section__spices-info h2 {
  width: 60%;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}
.section__spices .section__spices-info h3 {
  margin-top: 10px;
}
.section__spices .section__spices-info p {
  margin-top: 30px;
}
.section__spices .section__spices-image {
  width: 50vw;
  margin-right: auto;
}

.section__cta {
  position: relative;
  width: 100%;
}
.section__cta img {
  width: 100%;
}
.section__cta .filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.section__cta .filter .section__cta-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.section__cta .filter .section__cta-info h2 {
  color: white;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}
.section__cta .filter .section__cta-info button {
  background-color: white;
  color: black;
  padding: 1rem 2rem;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

.section__partner {
  width: 100%;
  padding-inline: 20%;
  padding-top: 6rem;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
}
.section__partner .section__partner-image {
  width: 100%;
}
.section__partner .section__partner-image img {
  margin-left: 25%;
  width: 50%;
}
.section__partner .section__partner-info {
  padding-left: 5rem;
  width: 100%;
}
.section__partner .section__partner-info h2 {
  color: white;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  width: 80%;
  margin-bottom: 3rem;
}

.section__awards {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-inline: 20%;
}
.section__awards h2 {
  margin-top: -60px;
  color: white;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 30px;
}
.section__awards .section__awards-awards {
  display: flex;
  gap: 2rem;
}
.section__awards .section__awards-awards div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.section__awards .section__awards-awards div p {
  color: rgba(255, 255, 255, 0.5);
  width: 80%;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.klizac {
  background: #000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding-bottom: 6rem;
  position: relative;
}
.klizac .strelice {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 80px;
  background: transparent;
}
.klizac h2,
.klizac p {
  text-align: center;
}
.klizac p {
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.5);
}
.klizac h2 {
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
}
.klizac .kartice {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.klizac .kartice div {
  width: 317px;
  height: 257px;
  background: #1b1b1b;
  color: rgba(255, 255, 255, 0.705);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 15px;
}
.klizac .kartice div h4 {
  color: rgba(255, 255, 255, 0.737254902);
}
.klizac .kartice .active {
  background-color: #2a2a2a;
  width: 429px;
  height: 414px;
}

footer {
  background: #a62120;
  padding-top: 1rem;
  width: 100%;
}
footer .footer__main {
  width: 100%;
  padding-inline: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}
footer .footer__main div {
  width: 100%;
}
footer .footer__main .footer__main-info {
  display: flex;
  align-items: center;
}
footer .footer__main .footer__main-info div {
  margin-left: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer__main .footer__main-info div p {
  margin-bottom: 9px;
}
footer .footer__main .footer__main-info div :last-child {
  margin-bottom: 0;
}
footer .footer__main .footer__main-logo {
  display: grid;
  place-content: center;
}
footer .footer__main .footer__main-socials {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
footer .footer__main-copyright {
  width: 100%;
  background: #66000b;
  padding-inline: 20%;
  display: flex;
  justify-content: space-between;
  color: #e9caca;
  font-size: 12px;
}
footer .footer__main-copyright span {
  color: white;
}

@media screen and (max-width: 1330px) {
  .header__nav-xl {
    display: none !important;
  }
  .header__nav-md {
    display: flex !important;
  }
  h1 {
    font-size: 28px !important;
  }
  h2 {
    font-size: 24px !important;
  }
  p {
    font-size: 12px !important;
  }
  .landing__content-text {
    margin-left: 30% !important;
  }
  button {
    padding: 0.5rem 1rem !important;
    font-size: 12px !important;
  }
  .section__dry-aged,
  .section__menu,
  .section__partner,
  .section__awards,
  .footer__main {
    padding-inline: 10% !important;
  }
  .section__kurs {
    padding-left: 10% !important;
  }
  .section__spices {
    padding-right: 10% !important;
  }
}/*# sourceMappingURL=style.css.map */